<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>CanceroPedia</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style11.css') }}" />
  </head>

  <body class="mobile">
    <nav>
      <div class="container nav-wrapper">
        <div class="brand">
          <span><strong>CANCEROPEDIA</strong></span>
          
        </div>
        <div class="hamburger">
          <span></span>
          <span></span>
          <span></span>
        </div>
        <ul class="nav-list">
          <li class="active">
            <a href="#">Home</a>
          </li>
          <li>
            <a href="#">Services</a>
          </li>
          <li><a href="#">Contact</a></li>
          <li><a href="#">FAQ</a></li>
        </ul>
      </div>
    </nav>

    <!-- CHAT BOT -->
    <div class="container">
      <div class="chatbox">
        <div class="chatbox__support">
          <div class="chatbox__header">
            <div class="chatbox__image--header">
              <img
                src="https://img.icons8.com/color/48/000000/circled-user-female-skin-type-5--v1.png"
                alt="image"
              />
            </div>
            <div class="chatbox__content--header">
              <h4 class="chatbox__heading--header">Chat support</h4>
              <p class="chatbox__description--header">
                Hi. My name is Sam. How can I help you?
              </p>
            </div>
          </div>
          <div class="chatbox__messages">
            <div></div>
          </div>
          <div class="chatbox__footer">
            <input type="text" placeholder="Write a message..." />
            <button class="chatbox__send--footer send__button">Send</button>
          </div>
        </div>
        <div class="chatbox__button">
          <button><img src="{{ url_for('static', filename='images/chatbox-icon.svg') }}" /></button>
        </div>
      </div>
    </div>
    <!-- CHATBOT END -->
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />

    <div class="homefirst">
      <!-- <script src="https://cdn.jsdelivr.net/npm/typed.js@2.0.12"></script>
    <script>
        var typed=new Typed(".auto-input",{
            strings:[ "CANCEROPEDIA"],
            typeSpeed:100,
            backspeed:25,
            loop:true
                })
    </script> -->
      <h1>CANCERO</h1>
      <h1 id="aaaa">PEDIA</h1>
    </div>
    <!-- BOXES -->

    <div class="container1">
      <div class="card">
        <div class="circle">
          <h2>01</h2>
        </div>
        <div class="content">
          <p class="para">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut eum ad
            id officia reiciendis fugiat sapiente autem nobis soluta sint! Sit
            quidem quos exercitationem dignissimos.
          </p>
          <button class="show-modal1">Read More...</button>
        </div>
      </div>

      <div class="card">
        <div class="circle">
          <h2>02</h2>
        </div>
        <div class="content">
          <p class="para">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut eum ad
            id officia reiciendis fugiat sapiente autem nobis soluta sint! Sit
            quidem quos exercitationem dignissimos.
          </p>
          <button class="show-modal2">Read More...</button>
        </div>
      </div>

      <div class="card">
        <div class="circle">
          <h3>Types of Cancer</h3>
        </div>
        <div class="content">
          <p class="para">
            Doctors divide cancer into types based on where it begins. Four main types of cancer are:<br>
            -Carcinomas<br>
            -Sarcomas<br>
            -Leukemias<br>
            -Lymphomas
          </p>
          <button class="show-modal3" 9>Read More...</button>
        </div>
      </div>
    </div>

    <div class="modal1 hidden">
      <button class="close-modal1">&times;</button>
      <h1 class="headingss">I'm a modal window 😍</h1>
      <p>MC Ayush</p>
    </div>
    <!-- <div class="overlay hidden"></div> -->

    <div class="modal2 hidden">
      <button class="close-modal2">&times;</button>
      <h1 class="headingss">I'm a modal window 😍</h1>
      <p>Bhosdika Bijju</p>
    </div>
    <!-- <div class="overlay hidden"></div> -->

    <div class="modal3 hidden">
      <button class="close-modal3">&times;</button>
      <h1 class="headingss">Types of Cancer</h1>
      <p>

        Carcinomas. A carcinoma begins in the skin or the tissue that covers the surface of internal organs and glands. Carcinomas usually form solid tumors. They are the most common type of cancer. Examples of carcinomas include prostate cancer, breast cancer, lung cancer, and colorectal cancer. <br>
Sarcomas. A sarcoma begins in the tissues that support and connect the body. A sarcoma can develop in fat, muscles, nerves, tendons, joints, blood vessels, lymph vessels, cartilage, or bone.<br> 

Leukemias. Leukemia is a cancer of the blood. Leukemia begins when healthy blood cells change and grow uncontrollably. The 4 main types of leukemia are acute lymphocytic leukemia, chronic lymphocytic leukemia, acute myeloid leukemia, and chronic myeloid leukemia.
<br>
Lymphomas. Lymphoma is a cancer that begins in the lymphatic system. The lymphatic system is a network of vessels and glands that help fight infection. There are 2 main types of lymphomas: Hodgkin lymphoma and non-Hodgkin lymphoma.

      </p>
    </div>
    <div class="overlay hidden"></div>
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />

      <section class="SecondWorkspace">
        <h1 id="machinelearning">How Machine Learning works?</h1>
        <p id="mlpara">
          Machine learning is a branch of artificial intelligence that employs a variety of statistical, probabilistic and optimization techniques that allows computers to “learn” from past examples and to detect hard-to-discern patterns from large, noisy or complex data sets. This capability is particularly well-suited to medical applications, especially those that depend on complex proteomic and genomic measurements. As a result, machine learning is frequently used in cancer diagnosis and detection. More recently machine learning has been applied to cancer prognosis and prediction. This latter approach is particularly interesting as it is part of a growing trend towards personalized, predictive medicine. In assembling this review we conducted a broad survey of the different types of machine learning methods being used, the types of data being integrated and the performance of these methods in cancer prediction and prognosis
        </p>
        <button class="redirect" href = "http://127.0.0.1:5000/lcd">View Demo</button>
    </div>
    <script src="{{ url_for('static', filename='app11.js') }}"></script>
  </body>
</html>
