<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Responsive navbar</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style11.css') }}" />
  </head>

  <body class="mobile">
    <nav>
      <div class="container nav-wrapper">
        <div class="brand">
          <span><strong>CANCEROPEDIA</strong></span>
        </div>
        <div class="hamburger">
          <span></span>
          <span></span>
          <span></span>
        </div>
        <ul class="nav-list">
          <li class="active">
            <a href="#">Home</a>
          </li>
          <li>
            <a href="#">Services</a>
          </li>
          <li><a href="#">Contact</a></li>
          <li><a href="#">FAQ</a></li>
        </ul>
      </div>
    </nav>

    <!-- CHAT BOT -->
    <div class="container">
      <div class="chatbox">
        <div class="chatbox__support">
          <div class="chatbox__header">
            <div class="chatbox__image--header">
              <img
                src="https://img.icons8.com/color/48/000000/circled-user-female-skin-type-5--v1.png"
                alt="image"
              />
            </div>
            <div class="chatbox__content--header">
              <h4 class="chatbox__heading--header">Chat support</h4>
              <p class="chatbox__description--header">
                Hi. My name is Sam. How can I help you?
              </p>
            </div>
          </div>
          <div class="chatbox__messages">
            <div></div>
          </div>
          <div class="chatbox__footer">
            <input type="text" placeholder="Write a message..." />
            <button class="chatbox__send--footer send__button">Send</button>
          </div>
        </div>
        <div class="chatbox__button">
          <button><img src="{{ url_for('static', filename='chatbox-icon.svg') }}" /></button>
        </div>
      </div>
    </div>
    <!-- CHATBOT END -->
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <div class="homefirst">
      <!-- <script src="https://cdn.jsdelivr.net/npm/typed.js@2.0.12"></script>
    <script>
        var typed=new Typed(".auto-input",{
            strings:[ "CANCEROPEDIA"],
            typeSpeed:100,
            backspeed:25,
            loop:true
                })
    </script> -->
      <h1>CANCERO</h1>
      <h1 id="aaaa">PEDIA</h1>
    </div>
    <!-- BOXES -->

    <div class="container1">
      <div class="card">
        <div class="circle">
          <h2>01</h2>
        </div>
        <div class="content">
          <p class="para">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut eum ad
            id officia reiciendis fugiat sapiente autem nobis soluta sint! Sit
            quidem quos exercitationem dignissimos.
          </p>
          <button class="show-modal1">Read More...</button>
        </div>
      </div>

      <div class="card">
        <div class="circle">
          <h2>02</h2>
        </div>
        <div class="content">
          <p class="para">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut eum ad
            id officia reiciendis fugiat sapiente autem nobis soluta sint! Sit
            quidem quos exercitationem dignissimos.
          </p>
          <button class="show-modal2">Read More...</button>
        </div>
      </div>

      <div class="card">
        <div class="circle">
          <h2>03</h2>
        </div>
        <div class="content">
          <p class="para">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut eum ad
            id officia reiciendis fugiat sapiente autem nobis soluta sint! Sit
            quidem quos exercitationem dignissimos.
          </p>
          <button class="show-modal3" 9>Read More...</button>
        </div>
      </div>
    </div>

    <div class="modal1 hidden">
      <button class="close-modal1">&times;</button>
      <h1 class="headingss">I'm a modal window 😍</h1>
      <p>MC Ayush</p>
    </div>
    <!-- <div class="overlay hidden"></div> -->

    <div class="modal2 hidden">
      <button class="close-modal2">&times;</button>
      <h1 class="headingss">I'm a modal window 😍</h1>
      <p>Bhosdika Bijju</p>
    </div>
    <!-- <div class="overlay hidden"></div> -->

    <div class="modal3 hidden">
      <button class="close-modal3">&times;</button>
      <h1 class="headingss">I'm a modal window 😍</h1>
      <p>ABCD Dhruv</p>
    </div>
    <div class="overlay hidden"></div>
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />

    <div class="SecondWorkspace">
      <h1>How Machine Learning works?</h1>
    </div>
    <script src="{{ url_for('static', filename='app11.js') }}"></script>
  </body>
</html>
